<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <% if ({date} < 5) {%>
        Hey! It's a weekday, it's time to work hard!
        <% } else { %>
        Hey! It's the weekend, it's time to have fun!
        <% } %>
    </h1>
</body>
</html>